/* tailwind-stars.css */
.starability-basic {
  @apply flex items-center space-x-1 select-none;
}

.starability-basic > input {
  @apply hidden;
}

.starability-basic > label {
  @apply cursor-pointer text-2xl text-gray-300 transition-colors duration-200;
}

.starability-basic > input:checked ~ label,
.starability-basic > input:focus ~ label,
.starability-basic > input:hover ~ label {
  @apply text-yellow-400;
}

.starability-basic > input:checked + label,
.starability-basic > input:focus + label,
.starability-basic > input:hover + label {
  @apply text-yellow-400;
}

/* Optional focus ring */
.starability-focus-ring {
  @apply absolute w-full h-full border-2 border-dotted border-gray-500 pointer-events-none opacity-0;
}

.starability-basic > .input-no-rate:focus ~ .starability-focus-ring {
  @apply opacity-100;
}
